@import "../../variables.scss";

.login_container {
  .web_header {
    display: none;
  }
  .web_footer {
    display: none;
  }
  .sign_banner {
    background-color: $green;
  }
  .login_content {
    .second_card_cover {
      display: none;
    }
  }
  .card_cover {
    background-color: $white;
    width: 90%;
    margin: 0 auto 100px;
    border-radius: 15px;
    box-shadow: 16px 16px 32px $input;
    .form {
      padding: 20px 15px;
      .last_input {
        margin-bottom: 0 !important;
      }
      .input_container {
        padding: 0 0 8px;
        width: 100%;
      }
      .select_container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 20px;
        h4 {
          font-size: 18px;
          font-weight: 600;
          color: $grey;
          margin-right: 20px;
          position: relative;
          top: -3px;
        }
        select {
          display: block;
          font-size: 14px;
          color: $light_grey;
          font-weight: 700;
          line-height: 1.3;
          box-sizing: border-box;
          width: 160px;
          box-sizing: border-box;
          margin: 0;
          padding: 3px 5px;
          border: 1px solid $secondary_green;
          border-radius: 0.5em;
          background-color: $white;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background-color: $white;
          background-image: url("https://svgshare.com/i/P_Q.svg"),
            linear-gradient(to bottom, $white 0%, $white 100%);
          background-repeat: no-repeat, repeat;
          background-position: right 0.7em top 50%, 0 0;
          background-size: 0.65em auto, 100%;
        }
        select::-ms-expand {
          display: none;
        }
        select:hover {
          border-color: $secondary_green;
        }
        select:focus {
          border-color: $secondary_green;
          box-shadow: 0 0 0 3px -moz-mac-focusring;
          color: #222;
          outline: none;
        }
      }
      .sign_button {
        background-color: $purple;
      }
      h4 {
        color: $black;
        text-align: center;
        text-transform: capitalize;
        margin: 15px 0 0;
      }
      .login_button {
        background-color: $secondary_green;
      }
      .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        hr {
          width: 60px;
          border-color: $off_white;
          border-width: 0.5px;
          @media (min-width: 640px) {
            width: 150px;
          }
        }
        p {
          font-size: 12px;
          color: $black;
          text-transform: capitalize;
          font-weight: 700;
        }
        margin-top: 20px;
      }
      .social_cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .social_icon {
          width: 40px;
          margin-right: 10px;
        }
      }
    }
    @media (min-width: 750px) {
      margin: 60px auto 0;
      .form {
        padding: 25px 30px;
        .social_cover {
          margin-top: 20px;
        }
      }
    }
  }
  @media (min-width: 1020px) {
    .mobile_header {
      display: none;
    }
    .sign_banner {
      display: none;
    }
    .banner {
      display: none;
    }
    .mobile_footer {
      display: none;
    }
    .web_footer {
      display: flex;
    }
    .second_card_cover {
      display: block;
    }
    .web_header {
      display: flex;
    }
    .login_content {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 100px auto;
      .card_cover {
        width: 45%;
        margin-top: 0;
        position: relative;
        top: -30px;
        .form {
          padding-bottom: 50px;
          padding-top: 40px;
          h4 {
            font-weight: 700;
          }
          .select_container {
            margin-left: 0;
            // h4 {
            //   font-size: 18px;
            //   font-weight: 600;
            //   color: $grey;
            //   margin-right: 20px;
            //   position: relative;
            //   top: -3px;
            // }
            select {
              width: 130px;
            }
          }
          .options {
            margin-top: 5px;
            hr {
              width: 45px;
            }
          }
          .social_cover {
            margin-top: 3px;
          }
        }
      }
      .signup_cover {
        background-color: $green !important;
        img {
          width: 320px !important;
          margin-top: 100px !important;
        }
      }
      .second_card_cover {
        display: block;
        background-color: $purple;
        width: 55%;
        margin-top: 0;
        padding-bottom: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        h1 {
          color: $white;
          text-align: center;
          text-transform: capitalize;
          line-height: 1px;
          font-size: 40px;
          margin-bottom: 30px;
        }
        p {
          color: $white;
          font-size: 13px;
          text-align: center;
        }
        img {
          display: block;
          width: 200px;
          margin: 30px auto 0;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .form {
      .select_container {
        select {
          width: 150px !important;
        }
      }
      .options {
        hr {
          width: 70px !important;
        }
      }
    }
  }
}
