@import "../../../variables.scss";

.web_footer_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $purple;
  margin-top: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      color: $white;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      list-style: none;
      text-decoration: none;
      li {
        text-decoration: none;
        list-style: none;
      }
    }
    a:hover,
    a:focus,
    a:active {
      color: $white;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: $green;
    }
    hr {
      width: 30px;
      height: 0;
      margin: 0;
      border-color: $off_white;
      transform: rotate(90deg);
    }
  }
  .web_footer_social_cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    .footer_social_icon {
      margin-right: 20px;
      width: 45px;
      margin-top: 30px;
    }
  }
  .footer_logo {
    width: 200px;
    display: block;
    margin: 15px auto 5px;
  }
  p {
    color: $white;
    font-size: 14px;
    text-align: center;
    padding-bottom: 30px;
  }
}
