@import "../../../variables.scss";

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  @media (min-width: 640px) {
    margin-bottom: 10px;
  }
}

#menuToggle a {
  text-decoration: none;
  color: $white;
  font-size: 20px;
  transition: color 0.3s ease;
  text-transform: capitalize;
  padding-bottom: 20px;
  text-align: center;
}

#menuToggle a:hover,
#menuToggle a:focus,
#menuToggle a:active {
  color: $white;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: $green;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: $white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transform: rotate3d(3, 2, 2, 10deg);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  @media (min-width: 750px) {
    width: 35px;
    height: 3px;
  }
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -1px);
  background: $white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  background-color: $purple;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  position: fixed;
  width: 100%;
  opacity: 0.92;
  height: 100%;
  margin: -160px 0 0 -300px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  .menu_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 20px;
    img {
      width: 100px;
    }
    .button_class {
      background-color: $green;
      color: $white;
      position: relative;
      left: 63px;
      font-size: 10px;
      padding: 3px 15px;
      border: none;
      border-radius: 15px;
      text-transform: capitalize;
    }
  }
  .links {
    margin-top: 80px;
    @media (min-width: 640px) {
      margin-top: 50px;
    }
    @media (min-width: 750px) {
      margin-top: 80px;
    }
  }
  @media (max-width: 280px) {
    margin: -160px 0 0 -270px;
    .menu_container {
      .button_class {
        left: 38px;
      }
    }
  }
  @media (min-width: 360px) {
    margin: -160px 0 0 -350px;
    .menu_container {
      .button_class {
        left: 100px;
      }
    }
  }
  @media (min-width: 400px) {
    margin: -160px 0 0 -400px;
    .menu_container {
      .button_class {
        left: 150px;
      }
    }
  }
  @media (min-width: 445px) and (max-width: 520px) {
    margin: -160px 0 0 -450px;
    .menu_container {
      .button_class {
        left: 200px;
      }
    }
  }
  @media (min-width: 520px) {
    margin: -160px 0 0 -500px;
    .menu_container {
      .button_class {
        left: 230px;
      }
    }
  }
  @media (min-width: 560px) {
    margin: -160px 0 0 -530px;
    .menu_container {
      .button_class {
        left: 260px;
      }
    }
  }
  @media (min-width: 570px) and (max-width: 640px) {
    margin: -160px 0 0 -595px;
    .menu_container {
      .button_class {
        left: 350px;
      }
    }
  }
  @media (min-width: 640px) {
    margin: -160px 0 0 -610px;
    .menu_container {
      .button_class {
        left: 340px;
      }
    }
  }
  @media (min-width: 660px) {
    margin: -160px 0 0 -630px;
    .menu_container {
      .button_class {
        left: 360px;
      }
    }
  }
  @media (min-width: 670px) and (max-width: 700px) {
    margin: -160px 0 0 -655px;
    .menu_container {
      .button_class {
        left: 390px;
      }
    }
  }
  @media (min-width: 700px) {
    margin: -160px 0 0 -700px;
    .menu_container {
      .button_class {
        left: 280px;
      }
    }
  }
  @media (min-width: 720px) {
    .menu_container {
      .button_class {
        left: 440px;
      }
    }
  }
  @media (min-width: 750px) {
    margin: -175px 0 0 -760px;
    .menu_container {
      img {
        margin-left: 20px;
        width: 150px;
      }
      .button_class {
        left: 400px;
        top: 15px;
        padding: 5px 20px;
        font-size: 15px;
      }
    }
  }
  @media (min-width: 800px) {
    .menu_container {
      .button_class {
        left: 490px;
      }
    }
  }
  @media (min-width: 825px) {
    margin: -175px 0 0 -810px;
    .menu_container {
      .button_class {
        left: 470px;
        top: 15px;
      }
    }
  }
  @media (min-width: 885px) {
    margin: -175px 0 0 -840px;
  }
  @media (min-width: 905px) {
    margin: -175px 0 0 -865px;
  }
  @media (min-width: 930px) {
    margin: -175px 0 0 -890px;
  }
  @media (min-width: 955px) {
    margin: -175px 0 0 -915px;
  }
  @media (min-width: 980px) {
    margin: -175px 0 0 -955px;
  }
}

#menu li {
  color: $white;
  font-size: 20px;
  text-transform: capitalize;
  display: block;
  width: 85%;
  padding-bottom: 30px;
  @media (min-width: 400px) {
    width: 90%;
  }
}

#menuToggle input:checked ~ ul {
  transform: none;
}
