@import "../../variables.scss";

.submit_button {
  width: 100%;
  color: $white;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  text-transform: capitalize;
  padding: 12px 0;
  margin-top: 15px;
  font-weight: 600;
}
