@import "../../../variables.scss";

.container {
  height: 50px;
  background-color: $purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  img {
    width: 120px;
  }
  .cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .buttonClass {
      background-color: $green;
      color: $white;
      font-size: 11px;
      padding: 5px 15px;
      margin-right: 15px;
      border: none;
      border-radius: 15px;
      text-transform: capitalize;
    }
  }
  @media (min-width: 750px) {
    padding: 30px;
    margin-bottom: 40px;
    img {
      width: 180px;
    }
    .cover {
      .buttonClass {
        margin-right: 35px;
        padding: 8px 20px;
        font-size: 15px;
      }
    }
  }
}
