$white: #ffffff;
$green: #008f71;
$inactive: #00000029;
$input: #1e1e1e26;
$topaz: #f2fffc;
$fushia: #fd49c659;
$purple: #660099;
$secondary_purple: #d1b2e0;
$black: #1c2126;
$secondary_green: #159263;
$grey: #747474;
$off_white: #f2f4f8;
$light_red: #df4626;
$light_green: #3ec0c8;
$yellow: #f9bc1c;
$light_blue: #65a4d9;
$dark_green: #1a924b;
$lemon: #95c83d;
$primary_green: #4cb64a;
$secondary_lemon: #139b7e;
$dark_grey: #707070;
$light_grey: #959595;
$pink: #ff00ff;
$blue: #1473e6;
$header_color: #dedede;
$light_purple: #f5ecf9;
$red: #ff0000;
$secondary_red: #f9e8e8;
$secondary_grey: #f6f6f6;

//font
@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/Montserrat/Montserrat-Regular.ttf"); /* IE9 Compat Modes */
}

$default_font: "Montserrat Regular", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
